
<div class="carousel">
    <div class="carousel-container">
      <div class="carousel-item">
        <img src="../../../public/Coffee Shio.png" alt="Coffee Image 1" />
        <p class="carousel-caption">Descubre nuestros mejores cafés</p>
      </div>
      <div class="carousel-item">
        <img src="../../../public/Todos los días deberían empezar con un Croissant.png" alt="Coffee Image 2" />
        <p class="carousel-caption">Ambiente acogedor para disfrutar</p>
      </div>
      <div class="carousel-item">
        <img src="image3.jpg" alt="Coffee Image 3" />
        <p class="carousel-caption">Eventos especiales y más</p>
      </div>
    </div>
    <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
  </div>
  